//Colores
$amarillo: #fef101;
$negro: #2c2c2c;
$blanco: #f2f2f2;

//Fuentes
$datos: 'Inconsolata', monospace;
$titulo: 'Montserrat', sans-serif;
$texto: 'Quicksand', sans-serif;

//Tamaños
$movil: 480px;
$tablet: 768px;
$escritorio: 1024px;
